body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f7fc; /* Light blue background */
    margin: 0;
  padding:80px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Center content vertically */
    height: 100%;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Adjust as needed */
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: #007bff; /* Blue color for title */
    margin-top: 10px; /* Adjust as needed */

font-family: 'Orbitron', sans-serif;
}




.container {
    background-color: #ffffff; /* White container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#level, #score {
    font-size: 18px;
    margin-bottom: 10px;
}


#level {
    font-size: 30px;
    color: #007bff; /* Blue color for level text */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
}

#score {
    font-size: 18px;
    margin: 20px 0 20px 0; /* Top margin added */
    text-align: center; /* Center the score */
    color: #007bff; /* Blue color for score text */
    font-family: 'Arial', sans-serif; /* Use a simple font */
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.box {
    width: 60px;
    height: 60px;
    background-color: #007bff; /* Blue color for box */
    color: #ffffff; /* White text color */
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #0056b3; /* Darker blue border */
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.box:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}

.selected {
    pointer-events: none; /* Disable further clicks on selected boxes */
}

#points {
    font-weight: bold;
    color: #007bff; /* Blue color for score */
}

button {
    background-color: #007bff; /* Blue color for button */
    color: #ffffff; /* White text color for button */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3; /* Darker blue color on hover for button */
}



/* New style for correct boxes with background image */
.correct, .wrong {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Additional style to set a default background for correct boxes */
.nelly {
    background-image: url('nelly.png'); /* Replace with your default image URL */
}

.tom{
    background-image: url('tom.png');
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

.overlay-content {
    text-align: center;
    color: #ffffff; /* White text color */
}
